body {
    background-color: #6F0709;
}
.top-bar {
    text-align: center;
    background-color: #5A0406;
    text-align: center;
    height: 80px;
    width: 100vw;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    h1 {
        text-align: center;
position: fixed;
        left: 50%;
        transform: translateX(-50%);
    }
}
.container {
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    margin: auto;
    margin-top: 100px;
    display : flex;
    flex-direction : column;
    align-items : center;
    text-align : center;
 }

#login-button  {
    text-align: center;
    display : block;
    margin-top : 10px;
    background-color: #3e0101;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
.footer-bar { 
    background-color: #5A0406;
    height: 80px;
    width: 100vw;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    position: fixed;
    bottom : 0;
    left: 0;
    z-index: 1000;
}
button {
  background-color: rgb(90, 4, 6);
  color: white;
  border: none;
  padding: 10px 16px;
  border-radius: 6px;
  cursor: pointer;
}
.edit-profile{
display: hidden;
}
